In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,mean_squared_error

In [3]:
df=pd.read_csv(r"D:\Projects_Internship\Car Evaluation\car_evaluation.csv")

In [3]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


df.columns = col_names

col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [5]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [6]:
df.describe()

       buying maint  doors persons lug_boot safety  class
count    1727  1727   1727    1727     1727   1727   1727
unique      4     4      4       3        3      3      4
top       med   med  5more       4      med    med  unacc
freq      432   432    432     576      576    576   1209

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [5]:




df["safety"].value_counts()

high    576
med     576
low     575
Name: safety, dtype: int64

In [6]:
df["buying"].value_counts()

high     432
med      432
low      432
vhigh    431
Name: buying, dtype: int64

In [7]:
df["doors"].value_counts()

3        432
4        432
5more    432
2        431
Name: doors, dtype: int64

In [8]:
df["persons"].value_counts()

more    576
4       576
2       575
Name: persons, dtype: int64

In [9]:
df["lug_boot"].value_counts()

med      576
big      576
small    575
Name: lug_boot, dtype: int64

In [10]:
df["class"].value_counts()

unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [10]:
df = pd.get_dummies(df,columns=["buying",
"maint","doors","persons","lug_boot","safety"])

In [14]:
df=df.rename(columns={"class":"target"})

In [11]:
df.head()

,class,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,...,doors_5more,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med
0,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,1
1,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,1,0,0
2,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
3,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,1
4,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,1,0,0

In [15]:
cat_cols=list(set(df.columns)-{"target"})

In [16]:

le=LabelEncoder()

y=le.fit_transform(df["target"])
X = df.drop(["target"], axis=1)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [19]:
X_train.shape, X_test.shape

((1157, 21), (570, 21))

In [20]:
clf=LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [21]:
test_pred=clf.predict(X_test)

In [22]:
mean_squared_error(y_test, test_pred)

0.37894736842105264

In [23]:
accuracy_score(y_test, test_pred)

0.9017543859649123